        .divider-text {
            position: relative;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        .divider-text span {
            padding: 7px;
            font-size: 12px;
            position: relative;
            z-index: 2;
        }
        
        .divider-text:after {
            content: "";
            position: absolute;
            width: 100%;
            border-bottom: 1px solid #ddd;
            top: 55%;
            left: 0;
            z-index: 1;
        }
        
        .btn-facebook {
            background-color: #405D9D;
            color: #fff;
        }
        
        .btn-twitter {
            background-color: #42AEEC;
            color: #fff;
        }
        /* login */
        
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }
        
        #login .container #login-row #login-column #login-box {
            margin-top: 120px;
            max-width: 600px;
            height: 320px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }
        
        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }
        
        #login .container #login-row #login-column #login-box #login-form #register-link {
            margin-top: -85px;
        }
        
        .accounts {
            position: absolute;
            /* Allows precise positioning */
            top: 10px;
            /* Adjust to your preferred distance from the top */
            right: 10px;
            /* Adjust to your preferred distance from the right */
        }
        
        .accounts li {
            display: inline;
            /* Ensures the list items are displayed inline */
            margin-left: 15px;
            /* Adds spacing between the links */
        }
        
        .accounts a {
            text-decoration: none;
            /* Removes underline from the links */
            color: #333;
            /* Set the color of the links */
            font-size: 14px;
            /* Adjust the font size as needed */
        }
        
        .accounts a:hover {
            color: #007BFF;
            /* Optional: Changes the color when the link is hovered */
            text-decoration: underline;
            /* Optional: Adds underline on hover */
        }