{% extends 'base.html' %}
{% load static %}
{% block title %}Chefs{% endblock %}

{% block content %}
<!-- Chefs Section -->
<section id="chefs" class="chefs section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Chefs</h2>
    <p><span>Our</span> <span class="description-title">Kenyan Culinary Experts</span></p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">

      <!-- Chef 1 -->
      <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'assets\img\chefs\chef1.jfif' %}" class="img-fluid" alt="Kamau Ndegwa">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Kamau Ndegwa</h4>
            <span>Master Chef</span>
            <p>Kamau specializes in traditional Kenyan dishes, bringing the best flavors of East Africa to every plate, from Nyama Choma to the classic Ugali with Sukuma.</p>
          </div>
        </div>
      </div><!-- End Chef Team Member -->

      <!-- Chef 2 -->
      <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'assets\img\chefs\chef2.jfif' %}" class="img-fluid" alt="Muthoni Wambui">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Muthoni Wambui</h4>
            <span>Patissier</span>
            <p>Muthoni is renowned for her expertise in Kenyan desserts, including Mandazi and Samosa. She adds her unique twist to classic recipes, delighting guests with every bite.</p>
          </div>
        </div>
      </div><!-- End Chef Team Member -->

      <!-- Chef 3 -->
      <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'assets\img\chefs\chef3.jfif' %}" class="img-fluid" alt="Kariuki Mburu">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Kariuki Mburu</h4>
            <span>Cook</span>
            <p>Kariuki is an expert in grilling and barbecue. His signature dish is the famous Nyama Choma, slow-cooked to perfection, offering the ultimate Kenyan BBQ experience.</p>
          </div>
        </div>
      </div><!-- End Chef Team Member -->

    </div>
  </div>
</section><!-- End Chefs Section -->
<!-- End Chefs Section -->
<!-- /Chefs Section -->
{% endblock %}