{% extends 'base.html' %}
{% load static %}
{% block title %}Menu{% endblock %}

{% block content %}
<!-- Menu Section -->
<section id="menu" class="menu section" style = "background:grey;">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Menu</h2>
    <p><span>Check Our</span> <span class="description-title">Delicious Menu</span></p>
  </div><!-- End Section Title -->

  <div class="container">
    <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <li class="nav-item">
        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
          <h4>Starters</h4>
        </a>
      </li><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
          <h4>Breakfast</h4>
        </a>
      </li><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
          <h4>Lunch</h4>
        </a>
      </li><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
          <h4>Dinner</h4>
        </a>
      </li><!-- End tab nav item -->
    </ul>

    <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

      <!-- Starters Tab Content -->
      <div class="tab-pane fade active show" id="menu-starters">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Starters</h3>
        </div>

        <div class="row gy-5">
          <div class="col-lg-4 menu-item">
            <a href="{% static 'assets/img/menu/menu-item-1.png' %}" class="glightbox">
              <img src="{% static 'assets/img/menu/menu-item-1.png' %}" class="menu-img img-fluid" alt="Menu item image">
            </a>
            <h4>Zuri Delight</h4>
            <p class="ingredients">Fresh, crunchy, and flavorful</p>
            <p class="price">KSh 500</p>
          </div><!-- Menu Item -->

          <!-- Repeat for other items -->
        </div>
      </div><!-- End Starter Menu Content -->

      <!-- Breakfast Tab Content -->
      <div class="tab-pane fade" id="menu-breakfast">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Breakfast</h3>
        </div>

        <div class="row gy-5">
          <div class="col-lg-4 menu-item">
            <a href="{% static 'assets/img/menu/menu-item-1.png' %}" class="glightbox">
              <img src="{% static 'assets/img/menu/menu-item-1.png' %}" class="menu-img img-fluid" alt="Menu item image">
            </a>
            <h4>Classic Kenyan Breakfast</h4>
            <p class="ingredients">Eggs, sausages, and chapati</p>
            <p class="price">KSh 700</p>
          </div><!-- Menu Item -->

          <!-- Repeat for other items -->
        </div>
      </div><!-- End Breakfast Menu Content -->

      <!-- Lunch Tab Content -->
      <div class="tab-pane fade" id="menu-lunch">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Lunch</h3>
        </div>

        <div class="row gy-5">
          <div class="col-lg-4 menu-item">
            <a href="{% static 'assets/img/menu/menu-item-1.png' %}" class="glightbox">
              <img src="{% static 'assets/img/menu/menu-item-1.png' %}" class="menu-img img-fluid" alt="">
            </a>
            <h4>Spicy Nyama Choma</h4>
            <p class="ingredients">Grilled meats with spices</p>
            <p class="price">KSh 1200</p>
          </div><!-- Menu Item -->

          <!-- Repeat for other items -->
        </div>
      </div><!-- End Lunch Menu Content -->

      <!-- Dinner Tab Content -->
      <div class="tab-pane fade" id="menu-dinner">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Dinner</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item">
            <a href="{% static 'assets/img/menu/menu-item-1.png' %}" class="glightbox">
              <img src="{% static 'assets/img/menu/menu-item-1.png' %}" class="menu-img img-fluid" alt="">
            </a>
            <h4>Grilled Fish Delight</h4>
            <p class="ingredients">Fresh fish grilled to perfection</p>
            <p class="price">KSh 1500</p>
          </div><!-- Menu Item -->
          <!-- Repeat for other items -->
        </div>
      </div><!-- End Dinner Menu Content -->
    </div>
  </div>
</section><!-- /Menu Section -->
<!-- /Testimonials Section -->

<section id="testimonials" class="testimonials section light-background">
  <div class="container section-title" data-aos="fade-up">
      <h2>TESTIMONIALS</h2>
      <p>What Are They <span class="description-title">Saying About Us</span></p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper init-swiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="testimonial-item">
                      <div class="row gy-4 justify-content-center">
                          <div class="col-lg-6">
                              <div class="testimonial-content">
                                  <p>
                                      <i class="bi bi-quote quote-icon-left"></i>
                                      <span>"Zuri Flavors offers an unforgettable experience! The Ugali with Sukuma is the best I’ve ever had!"</span>
                                      <i class="bi bi-quote quote-icon-right"></i>
                                  </p>
                                  <h3>John Mwangi</h3>
                                  <h4>Local Food Enthusiast</h4>
                                  <div class="stars">
                                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-2 text-center">
                              <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="img-fluid testimonial-img" alt="">
                          </div>
                      </div>
                  </div>
              </div><!-- End testimonial item -->

              <!-- Repeat for other testimonials -->
          </div>
          <div class="swiper-pagination"></div>
      </div>
  </div>
</section><!-- End Testimonials Section -->


{% endblock %}